# ----------------------
# Node Modules
# ----------------------
node_modules/
client/edunova/node_modules/
server/node_modules/

# ----------------------
# Environment Variables
# ----------------------
.env             # root env
/client/edunova/.env
/server/.env

# Ignore environment variable variants (React)
client/edunova/.env.local
client/edunova/.env.development.local
client/edunova/.env.test.local
client/edunova/.env.production.local

# ----------------------
# Build Artifacts
# ----------------------
client/edunova/build/
client/edunova/dist/
server/build/
server/dist/

# ----------------------
# Logs
# ----------------------
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ----------------------
# System Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Editor Folders
# ----------------------
.vscode/
.idea/

# ----------------------
# Testing & Coverage
# ----------------------
coverage/
*.lcov

# ----------------------
# TypeScript
# ----------------------
*.tsbuildinfo

# ----------------------
# Uploads & Temp Files
# ----------------------
uploads/
tmp/
public/uploads/
